html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
.adjust-to-vw-lg {
    font-size: 13vw;
}
.adjust-to-vw-md {
    font-size: 10vw;
}
.adjust-to-vw-sm {
    font-size: 5vw;
}